.sidebar {
  text-align: right;
  min-width: 300px;
  margin: 0 0 0 10px;
  background-color: $grey1;
}

.menu-links {
  a,
  .menu-links__logout {
    font-size: 20px;
    padding: 24px 20px;
    color: $white;
    display: block;
    position: relative;
    cursor: pointer;
    &:hover {
      font-weight: 700;
      text-align: center !important;
      background-color: $color1;
      color: $black;
      white-space: nowrap;
      &:after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 35px 15px 35px 0;
        border-color: transparent $color1 transparent transparent;
        position: absolute;
        bottom: 0;
        right: 100%;
      }
    }
  }
}
