.personal-info__header {
  height: 110px;
  padding: 10px;
  background-color: $grey1;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $color1;
  .left-side {
    font-size: 25px;
  }
  .right-side {
    font-size: 20px;
  }
}

.personal-info__content {
  padding: 20px;
  color: $white;
}

.personal-info__line {
  font-size: 25px;
  padding: 10px 0;
  span:first-child {
    padding: 0 20px;
  }
}

.personal-info__footer {
  height: 50px;
  background-color: $grey1;
  border-top: 1px solid $color1;
}
