.games__btns-top {
  padding: 10px 0 30px 0;
  display: flex;
  justify-content: space-around;
  button {
    text-transform: uppercase;
  }
}

.team-teams {
  position: relative;
}

.team-teams__images {
  position: absolute;
  top: 10px;
}

.team-teams__images__left {
  left: 6px;
  img {
    margin: 0 10px 0 0;
  }
}

.team-teams__images__right {
  right: 6px;
  img {
    margin: 0 0 0 10px;
  }
}
